In [1]:
import os
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')

from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

[nltk_data] Error loading punkt: <urlopen error [Errno 8] nodename nor
[nltk_data]     servname provided, or not known>

In [50]:
df = pd.read_csv("../Processed Data/body_processed.csv",keep_default_na=False)

In [51]:
df.head()

,Subject,Text,Label,no_subject,no_text,is_html,http_count
0,eless rubens works stolen raid mansion,url click date arts fourth art raid philanthro...,Ham,False,False,False,1
1,sorting,probably running exmh local machine running re...,Ham,False,False,False,1
2,java kiddies,sun sep reza far ebuilt wrote forces developer...,Ham,False,False,False,1
3,eboarder drives subway,url click date dekalb daily chronicle,Ham,False,False,False,1
4,canadians,owen byrne owen permafrost net writes local pa...,Ham,False,False,False,1

In [52]:
df.shape

(15720, 7)

In [53]:
def stem_text(tokens):
    ps = PorterStemmer()
    combined = []
    for token in tokens:
        combined.append(ps.stem(token))
    return " ".join(combined)

In [54]:
df["Text"] = df["Text"].map(lambda x: word_tokenize(x))
df["Subject"] = df["Subject"].map(lambda x: word_tokenize(x))

In [55]:
df["Text"] = df["Text"].map(stem_text)
df["Subject"] = df["Subject"].map(stem_text)

In [57]:
df.head()

,Subject,Text,Label,no_subject,no_text,is_html,http_count
0,eless ruben work stolen raid mansion,url click date art fourth art raid philanthrop...,Ham,False,False,False,1
1,sort,probabl run exmh local machin run remot machin...,Ham,False,False,False,1
2,java kiddi,sun sep reza far ebuilt wrote forc develop sol...,Ham,False,False,False,1
3,eboard drive subway,url click date dekalb daili chronicl,Ham,False,False,False,1
4,canadian,owen byrn owen permafrost net write local pape...,Ham,False,False,False,1

In [63]:
df.groupby("Label")["no_text","no_subject","no_text","is_html","http_count"].mean()

/Users/susmitvengurlekar/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

        no_text  no_subject   no_text   is_html  http_count
Label
Ham    0.000000    0.002281  0.000000  0.001866    1.224181
Spam   0.000642    0.021655  0.000642  0.496880    4.956047

In [64]:
nlp_data = df[["Subject","Text","Label"]]
nlp_data = nlp_data.dropna()

df = df.drop(["Subject","Text"],axis=1)